<div class="shed__columns" id="east-cols">
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '0', 'num': '49-50', 'numLeft': '49', 'numRight': '50' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '1', 'num': '51-52', 'numLeft': '51', 'numRight': '52' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '2', 'num': '53-54', 'numLeft': '53', 'numRight': '54' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '3', 'num': '55-56', 'numLeft': '55', 'numRight': '56' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '4', 'num': '57-58', 'numLeft': '57', 'numRight': '58' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '5', 'num': '59-60', 'numLeft': '59', 'numRight': '60' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '6', 'num': '61-62', 'numLeft': '61', 'numRight': '62' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'east', 'index': '7', 'num': '63-64', 'numLeft': '63', 'numRight': '64' })
	@include('shed-bay-disabled-olds.html', { 'index': '8', 'num': '65-66', 'numLeft': '65', 'numRight': '66' })
	@include('shed-bay-disabled-olds.html', { 'index': '9', 'num': '67-68', 'numLeft': '67', 'numRight': '68' })
	@include('shed-bay-disabled-olds.html', { 'index': '10', 'num': '69-70', 'numLeft': '69', 'numRight': '70' })
	@include('shed-bay-disabled-olds.html', { 'index': '11', 'num': '71-72', 'numLeft': '71', 'numRight': '72' })
</div>
