<div class="shed__columns" id="north-cols">
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '0', 'num': '25-26', 'numLeft': '25', 'numRight': '26' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '1', 'num': '27-28', 'numLeft': '27', 'numRight': '28' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '2', 'num': '29-30', 'numLeft': '29', 'numRight': '30' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '3', 'num': '31-32', 'numLeft': '31', 'numRight': '32' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '4', 'num': '33-34', 'numLeft': '33', 'numRight': '34' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '5', 'num': '35-36', 'numLeft': '35', 'numRight': '36' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '6', 'num': '37-38', 'numLeft': '37', 'numRight': '38' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '7', 'num': '39-40', 'numLeft': '39', 'numRight': '40' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '8', 'num': '41-42', 'numLeft': '41', 'numRight': '42' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '9', 'num': '43-44', 'numLeft': '43', 'numRight': '44' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '10', 'num': '45-46', 'numLeft': '45', 'numRight': '46' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '11', 'num': '47-48', 'numLeft': '47', 'numRight': '48' })
</div>
