<div class="shed__columns" id="siksika-south-cols">
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '0', 'num': '1' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '1', 'num': '2' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '2', 'num': '3' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '3', 'num': '4' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '4', 'num': '5' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '5', 'num': '6' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '6', 'num': '7' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '7', 'num': '8' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '8', 'num': '9' })
	@include('shed-bay.html', { 'location': 'siksika', 'prefix': 'siksika-', 'shed': 'south', 'index': '9', 'num': '10' })
</div>
