<div class="shed__columns" id="simply-shed2-cols">
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '0', 'num': '14' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '1', 'num': '15' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '2', 'num': '16' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '3', 'num': '17' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '4', 'num': '18' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '5', 'num': '19' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '6', 'num': '20' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '7', 'num': '21' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '8', 'num': '22' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '9', 'num': '23' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '10', 'num': '24' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '11', 'num': '25' })
	@include('shed-bay.html', { 'location': 'simply', 'prefix': 'simply-', 'shed': 'shed2', 'index': '12', 'num': '26' })
</div>
