<div class="shed__columns" id="west-cols">
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '0', 'num': '1-2', 'numLeft': '1', 'numRight': '2' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '1', 'num': '3-4', 'numLeft': '3', 'numRight': '4' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '2', 'num': '5-6', 'numLeft': '5', 'numRight': '6' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '3', 'num': '7-8', 'numLeft': '7', 'numRight': '8' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '4', 'num': '9-10', 'numLeft': '9', 'numRight': '10' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '5', 'num': '11-12', 'numLeft': '11', 'numRight': '12' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '6', 'num': '13-14', 'numLeft': '13', 'numRight': '14' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '7', 'num': '15-16', 'numLeft': '15', 'numRight': '16' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '8', 'num': '17-18', 'numLeft': '17', 'numRight': '18' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '9', 'num': '19-20', 'numLeft': '19', 'numRight': '20' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '10', 'num': '21-22', 'numLeft': '21', 'numRight': '22' })
	@include('shed-bay-olds.html', { 'location': 'olds', 'prefix': '', 'shed': 'west', 'index': '11', 'num': '23-24', 'numLeft': '23', 'numRight': '24' })
</div>
