<div class="shed__columns" id="north-cols">
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '0', 'num': '25-26' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '1', 'num': '27-28' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '2', 'num': '29-30' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '3', 'num': '31-32' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '4', 'num': '33-34' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '5', 'num': '35-36' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '6', 'num': '37-38' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '7', 'num': '39-40' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '8', 'num': '41-42' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '9', 'num': '43-44' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '10', 'num': '45-46' })
	@include('shed-bay.html', { 'location': 'olds', 'prefix': '', 'shed': 'north', 'index': '11', 'num': '47-48' })
</div>
