/* Checkbox */
.check-wrap {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color: #000;

  .check-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    opacity: 0;
  }

  .check-style {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid #DCE0E9;
    background-color: #fff;
    margin-right: 13px;
  }

  .check-style::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: #000;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .2s;
  }

  .check-input:checked+.check-style::before {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
  }
}
