/* Password input */
.password-input {

	&__wrap {
		display: flex;
		align-items: center;
		overflow: hidden;
		background-color: #fff;
		border-radius: 10px;

		input {
			border: none;
			padding: 15px 15px 15px 41px;
			font-weight: 400;
			color: #10307B;

			&::placeholder {
				font-weight: 300;
				font-size: 16px;
				line-height: 20px;
				color: #7B8390;
			}
		}
	}

	&__show {
		&-btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 50px;
			height: 100%;
			opacity: 1;
			transition: opacity .2s;
			background-image: url(../img/icons/visible.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				background-color: #B1B1B1;
				width: 1.5px;
				height: 0%;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				transition: height .2s;
			}

			&.is-active {

				&::before {
					height: 50%;
				}
			}

			&.is-hidden {
				opacity: 0;
			}
		}
	}
}