/* Search input */
.search-input {
  display: flex;

  input {
    padding: 5px 15px 5px 5px;
  }

  &__reset {
    flex-shrink: 0;
    cursor: pointer;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    transition: opacity .2s;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
